<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="./vue.js"></script>
    <div id="app">
        <input type="text" v-model="message">
        <p>hello {{message}}</p>
    </div>
    <script>
        /*
        模板页面：html + js
        js以什么形式存在？ 
        指令：vue自定义标签属性（已v-开头），属性是一个js的表达式 v-model="mssage"
        插值：双大括号表达式，动态显示数据 {{message}}
        */
        let vm = new Vue({ //配置对象：属性名是一些特定的名称 ，每个属性就是一个选项
            el: "#app",  //选择器字符串 ==> 用于指定模板的根元素
            data: {  //包含一些数据属性的对象 ==>为模板提供数据
                message: ''
            }   
        })//$mount('#app')
        
    </script>
</body>

</html>